---
title: "Magies"
layout: "layouts/base.liquid"
---

<h2>Selectionnez une magie</h2>
{% for p in pages %}
<li>
  <a href="{{ p.url }}">{{ p.titre }}</a>
</li>
{% endfor %}

<script type="module" src="js/script.js"></script>
